/* About Section 기본 스타일 */
#about {
    background-size: cover;
    background-position: center;
    background-color: #020D18;
}

/* 이미지 공통 스타일 */
.aboutmain-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 부모 요소에 맞춰 꽉 차도록 설정 */
    background-color: #162A3F;
}
.default-image {
    display: block;
}
/* 모바일 이미지는 기본적으로 숨김 */
.mobile-image {
    display: none;
}

/* 모바일 화면에서는 default 이미지를 숨기고 모바일 이미지만 표시 */
@media (max-width: 768px) {
    .default-image {
        display: none !important;
    }

    .mobile-image {
        display: block !important;
    }
}


/* 중앙 정렬 텍스트 */
.center-text {
    text-align: center;
    color: white;
}


/* 제목 스타일 */
.title {
    font-weight: 1000;
    color: #FB9EBC; /* 핑크색 */
}

.sub-title {
    font-weight: bold;
}

/* 소제목, 설명 사이의 여백 */
.description {
    margin-top: 40px;
}

/* 이미지 및 비디오 사이즈 */
.image-poster,
.student-img {
    margin: 20px auto;
    display: block;
    max-width: 100%; /* 화면 크기에 맞게 조정 */
    height: auto; /* 비율 유지 */
}
.professor-container.center-text {
    margin-bottom: 40px;
}

/* 포스터 앞에 문구 */
.poster-label {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

/* Video Section */
.responsive-video {
    width: 1200px; /* 최대 크기 제한 */
    height: auto; /* 비율 유지 */
    aspect-ratio: 16 / 9; /* 비율 설정 */
}

/* Poster Section */
#Poster {
    background-color: #020D18;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
}

/* Video Section */
#Video {
    background-color: #020D18;
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
    justify-content: center;
}

/* 반응형 - 모바일 화면 대응 */
@media (max-width: 768px) {
    .default-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .image-poster {
        max-width: 90% !important; /* 화면 여백을 조금 남기기 */
        width: 90%;

    }

    .responsive-video {
        width: 320px; /* 모바일 화면에서 전체 폭 사용 */
        height: auto;
    }

    #Video {
        padding-top: 30px;
        padding-bottom: 50px; /* 모바일에서 적절히 여백 조정 */

    }
}
.video-container p {
    font-size: 15px;
}
.student-container h1{
    font-size: 15px;
    color: #FB9EBC;
    font-weight: bold;
    margin-top: 100px;
}
/* 교수 및 학생 섹션 스타일 */
.professor {
    justify-content: center;
}

.button-container {
    margin: 20px 0;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.professor-button {
    background-color: #162A3F; /* 기본 버튼 색상 */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.professor-button.selected {
    background-color: #FFCEDE; /* 선택된 버튼 색상 */
}

.professor-detail-box {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    padding-right: 20px;
    width: 80%;
    background-color: #FFF;
    color: #000;
}

.detail-content {
    display: flex;
    align-items: center;
}

#professorImage {
    width: 248px;
    margin-right: 64px;
    display: block;
}

.text-content {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    margin-top: 40px;
}
.text-content h3 {
    font-size: 20px;
}
.text-content p {
    font-size: 16px;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.section-title h1 {
    color: #FB9EBC;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-title p {
    margin-bottom: 30px;
}
.profile {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    width: 18%;
}

/* 학생 이미지 크기 */
.student-img {
    width: 184px;
    height: 276px;
}
.name-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
}
.korean-name {
    font-size: 20px;
    font-weight: normal;
    flex: 1;
    margin: 0;
}
.english-name {
    font-size: 15px;
    font-weight: normal;
    flex: 1;
    margin: 0;
}

/* 반응형 - 모바일 화면 대응 */
@media (max-width: 768px) {
    .profile {
        width: 45%; /* 모바일에서 한 줄에 두 명 */
    }

    .student-img {
        width: 100%; /* 프로필 너비에 맞게 이미지 크기 조정 */
        height: auto; /* 비율 유지 */
    }

    .profile-section {
        gap: 10px; /* 모바일에서 간격 줄이기 */
    }
    .professorImage {
        height: 138px;
    }
}