/* 첫 번째 섹션: 작품 제목, 설명, 이미지, Designer 문구 */
.artwork-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white; /* 모든 텍스트를 흰색으로 설정 */
}
.artist_work {
   width: 100%;
}
.custom-workimage {
    width: 100%;
}
.d-flex {
        flex-wrap: wrap;
}
.left-content {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
}
.right-content {
    flex: 2;
    min-width: 300px;
    margin-top: 15px;
    margin-right: 20px;
}
.work-detail {
        margin-top: 10px;
}

.title {
    font-size: 2.5rem; /* 제목 크기 조정 */
    margin-right: 10px;
    font-weight: bold;
}
.description-title {
    font-size: 20px;
}
.description {
    font-size: 16px;
    margin-left: 15px; /* 제목과 설명 사이 간격 */
    position: relative;
    top: 5px; /* 설명을 제목보다 약간 아래로 이동 */
}

.img-fluid {
    max-width: 100%; /* 이미지가 큰 화면에서 최대 크기로 보이게 */
    height: auto;
    margin-top: 20px; /* 이미지와 텍스트 사이에 간격 추가 */
}

.designer {
    text-align: left;
    margin-top: 20px; /* 이미지와 Designer 사이에 간격 추가 */
}

.designer h1 {
    font-size: 2.5rem; /* Designer 문구 크기 설정 */
    margin-top: 20px; /* 위쪽에 추가적인 여백 */
    font-weight: bold;
}

/* 두 번째 섹션: 작가 정보 및 인터뷰 */
.designer-section {
    background-color: #020D18; /* 섹션 배경 색상 */
}

.square-image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* 이미지를 네모 형태로 유지 */
    margin-bottom: 20px; /* 주변과 간격 */
}

.designer-name {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: bold; /* 이름을 굵게 표시 */
}

.designer-email {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
}

.email-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

/* 인터뷰 제목 */
.interview-title {
    font-size: 18px;
    font-weight: bold;
    color: #03182E;
    margin-left: 14px;
}
.interview-container {
    background-color: #020D18;
}
.interview-question {
    color: #020D18;
}

/* 세 번째 섹션: 빈 공간 */
.footer-section .spacer {
    height: 100px;
}

@media (max-width: 768px) {
    #article .d-flex {
        width: 100% !important;
    }
    .left-content {
        margin-left: 30px !important;
    }
    .designer h1 {
        font-size: 18px !important;
        margin-top: 0 !important;
        margin-left: 10px !important;
    }
    .artwork-section {
        padding-bottom: 0!important;
    }
    .grid-item p{
        margin-left: 10px;
    }
}